* {
    padding: 0px;
    margin: 0px;
}

.navbar {
    height: 60px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-left: 30px;
    box-sizing: border-box;
}

.navbar img {
    /* border: black solid 1px; */
    margin-top: 13px;
    width: 45px;
    display: inline-block;
    margin-right: 7px;
}

#nav-links{
    /* border: black solid 1px; */
    display: inline-block;
    vertical-align: top;
    margin-top: 23px;
}

.navbar a {
    text-decoration: none;
}


.navbar p{
    font-family: 'Montserrat', sans-serif;
    display: inline;
    margin-right: 15px;
    text-transform: uppercase;
    color: #555;
}

.navbar form {
    display: inline-block;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    color: #444444;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-size: 14px;
}


#banner img{
    width: 100%;
    opacity: .5
}

#header{
    position: fixed;
    top: 211px;
    left: 282px;
    animation-name: fall;
    animation-duration: 1s;
}

#header h1{
    font-size: 60px;
    /* text-transform: uppercase; */
}

@keyframes fall {
    /* 0% {left: 282px; top: -100px; } */
    20% {left: 282px; top: -100px; }
    100% {left: 282px; top: 211px;}
}

#search {
    position: fixed;
    top: 295px;
    left: 354px;
    animation-name: appear;
    animation-duration: 1s;
}

@keyframes appear {
    0% {left: 354px; top: -100px; opacity: 0}
    80% {opacity: 0 }
    90% {opacity: .5 }
    110% {opacity: 1}
}

#info-block {
    border-bottom: 1px solid #ccc;
    padding-top: 25px;
    margin-left: 50px;
    padding-bottom: 25px;
    text-align: center;
}

#info-block img{
    display: inline-block;
    vertical-align: top;
    margin-right: 30px;
    border-radius: 15px;
    margin-top: 20px;
}

#info {
    margin-top: 25px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}

#info h1 h2 h3{
    font-family: 'Montserrat', sans-serif;
}

#map {
    height: 400px;
    width: 50%;
}

#map-2 {
    height: 800px;
    width: 45%;
    display: inline-block;
    vertical-align: top;
}

#left{
    display: inline-block;
    width: 50%;
    height: 815px;
    overflow: scroll;
}

#banner-xo img{
    width: 65%;
    float:left;
    /* opacity: .5 */
}

#xo-bar {
    /* display:inline-block; */
    float: right;
    /* border: black 1px solid; */
    width: 34%;
    height: 100%;
    box-sizing: border-box;

}

#xo-bar h4{
    font-family: 'Montserrat', sans-serif;
    border-bottom: #ccc 1px solid;
    padding: 14px;
}

#xo-bar p {
    font-family: 'Roboto', sans-serif;
    color: #555;
    font-size: 14px;
}

#xo-bar{
    padding: 20px;
    box-sizing: border-box;
}

.order-item{
    margin-top: 15px;

}

#total{
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 20px;
    text-align: center;
}

button{
    margin-top: 20px;
    width:75%;
    height: 50px;
    background-color: #4a9131;
    color: white;
    border-radius: 15px;
    margin-left: 45px;
    font-size: 15px;
}
