<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Roboto:300" rel="stylesheet">
        <title>CofeeRunner</title>
    </head>
    <body>
        <div id="banner-xo">
            <img src="/assets/two.jpeg">
        </div>

        <div id="xo-bar">
            <h4>Your Order - Philz Coffee (DT San Jose)</h4>
            <div class="order-item">
                <table style="width:100%">
                  <tr>
                    <th style="width=30px"></th>
                    <th style="width=7px"></th>
                    <th></th>
                    <th></th>
                  </tr>

                  <tr>
                    <td><img src="/assets/trash.png" style="width: 20px"></td>
                    <td><p>1x</p></td>
                    <td> <p>Tesora Large</p></td>
                    <td><p>$5.00</p></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <p>Hot</p>
                        <p>Sweet and Creamy</p>
                        <p>Vanilla Soy</p>
                    </td>
                    <td></td>
                  </tr>
                </table>
            </div>
            <div class="order-item">
                <table style="width:100%">
                  <tr>
                    <th style="width=30px"></th>
                    <th style="width=7px"></th>
                    <th></th>
                    <th></th>
                  </tr>

                  <tr>
                    <td><img src="/assets/trash.png" style="width: 20px"></td>
                    <td><p>2x</p></td>
                    <td> <p>Mint Mojito Large </p></td>
                    <td><p>$10.00</p></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td>
                        <p>Sweet and Creamy</p>
                        <p>Regular Cream</p>
                    </td>
                    <td></td>
                  </tr>
                </table>
            </div>
            <div id="total">
                <table style="width:100%">
                  <tr>
                    <th style="width=30px"></th>
                    <th style="width=7px"></th>
                    <th></th>
                    <th></th>
                  </tr>

                  <tr>
                    <td></td>
                    <td><p></p></td>
                    <td> <p>Item Subtotal:</p></td>
                    <td><p>$10.00</p></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td> <p>Delivery Fee:</p></td>
                    <td><p>$3.00</p></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td> <p>Taxes:</p></td>
                    <td><p>$1.68</p></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td></td>
                    <td> <h4>Total:</h4></td>
                    <td><h4>$19.68</h4></td>
                  </tr>
                </table>
            </div>
            <button>Proceed to Checkout</button>
        </div>

    </body>
</html>
